<app-main-template>
  <div class="flex w-full justify-between">
    <h1 class="text-2xl font-semibold tex-text">Income Log</h1>
    <div class="flex gap-4">
      <button class="btn-primary" (click)="toggleModal(1)">
        <ng-icon name="matPlusOutline" size="1rem" class="text-text"></ng-icon>Add Income
      </button>
    </div>
  </div>
  <hr class="h-[1px] w-full bg-neutral-100" />
  <div class="relative mb-5 overflow-x-auto border-2 border-solid bg-white border-neutral-100 shadow-md sm:rounded-lg">
    <table class="w-full text-center text-sm text-neutral-800 rtl:text-right">
      <thead class="text-center text-base text-primary border-b-2">
        <tr>
          <th scope="col" class="px-2 py-3">DATE</th>
          <th scope="col" class="px-1 py-3 text-right">AMOUNT</th>
          <th scope="col" class="px-6 py-3">SOURCE</th>
          <th scope="col" class="px-1 py-3 text-center">EDIT</th>
          <th scope="col" class="px-1 py-3 text-center">REMOVE</th>
        </tr>
      </thead>
      <tbody class="bg-white" *ngIf="incomeList == null">
        <td colspan="5" class="text-center text-lg font-medium text-gray-600">
          <div class="m-3 flex items-center justify-center py-6 gap-6">You do not have any records yet!</div>
        </td>
      </tbody>

      <tbody class="bg-white" *ngIf="incomeList">
        <tr class="border-b text-center" *ngFor="let entry of incomeList">
          <td class="px-2 py-4">{{ entry.formatDate }}</td>

          <th scope="row" class="whitespace-nowrap px-1 py-4 text-right text-base font-semibold text-text">
            {{ entry.incomeAmt }}
          </th>
          <td class="px-6 py-4">{{ entry.categoryIncome }}</td>

          <td class="px-2 py-4 text-center">
            <button class="px-2 py-1" type="button" (click)="toggleModal(2, true, entry.incomeID)">
              <ng-icon name="matEditOutline" size="24px" class="mr-0 text-gray-500 hover:text-gray-900"></ng-icon>
            </button>
          </td>

          <td class="px-2 py-4 text-center">
            <button class="px-2 py-1" type="button" (click)="deleteIncome(entry.incomeID)">
              <ng-icon
                name="matDoNotDisturbOnOutline"
                size="24px"
                class="mr-0 text-gray-500 hover:text-gray-900"
              ></ng-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Add Income Modal -->
  <app-modal *ngIf="idNum === 1" [isOpen]="isModalOpen" [hasHeader]="true" headerName="Add Income">
    <form [formGroup]="addForm" (submit)="addIncome()">
      <div class="input-group mb-4">
        <h4 class="text-base font-medium text-neutral-600">Price</h4>
        <div class="relative">
          <input
            placeholder="00.00"
            type="number"
            formControlName="addAmt"
            class="price-input rounded-md w-50 border border-gray-300 bg-gray-50 px-3 py-2 pl-12 text-xs dark:border-neutral-600"
            min="0"
            step="0.01"
          />
          <span class="absolute left-3 top-2 text-gray-500">Php</span>
        </div>
        <span
          class="text-warning-500 text-[10px] font-medium text-red-600 dark:text-red-500"
          [ngStyle]="{
            display: addForm.get('addAmt')!.invalid && submitted ? 'block' : 'none',
          }"
          >Please input a Price between 0 to 99999999.99.</span
        >
      </div>
      <div class="input-group mb-4">
        <h4 class="text-base font-small text-neutral-600">Source</h4>
        <select
          class="block w-60 py-2 rounded-lg border border-gray-300 bg-gray-50 ps-2 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
          formControlName="addSrc"
        >
          <option disabled selected value="">Select source</option>
          <option *ngFor="let category of categoryList; let i = index" [value]="category.categoryID">
            {{ category.categoryName }}
          </option>
        </select>
        <span
          class="text-warning-500 text-[10px] font-medium text-red-600 dark:text-red-500"
          [ngStyle]="{
            display: addForm.get('addSrc')!.invalid && submitted ? 'block' : 'none',
          }"
          >Please select a source.</span
        >
      </div>
      <div class="input-group mb-4">
        <h4 class="text-base font-medium text-neutral-600">Date</h4>
        <mat-form-field
          class="rounded-md w-50% h-50 border border-gray-300 bg-gray-50 px-3 py-2 text-xs dark:border-neutral-600"
        >
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="addDate" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <span
          class="text-warning-500 text-[10px] font-medium text-red-600 dark:text-red-500"
          [ngStyle]="{
            display: addForm.get('addDate')!.invalid && submitted ? 'block' : 'none',
          }"
          >Please enter a date.</span
        >
      </div>

      <hr class="mb-6 mt-2 h-[2px] w-full bg-neutral-300" />
      <button
        class="flex w-50 items-center justify-center gap-3 rounded bg-lime-700 px-6 py-2 hover:bg-lime-600 dark:bg-lime-700 dark:hover:bg-lime-600"
        type="submit"
      >
        <p class="text-base font-medium text-white">Add</p>
      </button>
    </form>
  </app-modal>
  <!-- Edit Income Modal -->
  <app-modal *ngIf="idNum === 2" [isOpen]="isModalOpen" [hasHeader]="true" headerName="Add Income">
    <form [formGroup]="editForm" (submit)="saveIncome(editID)">
      <div class="input-group mb-4">
        <h4 class="text-base font-medium text-neutral-600">Price</h4>
        <div class="relative">
          <input
            placeholder="00.00"
            type="number"
            formControlName="editAmt"
            class="price-input rounded-md w-50 border border-gray-300 bg-gray-50 px-3 py-2 pl-12 text-xs dark:border-neutral-600"
            min="0"
            step="0.01"
          />
          <span class="absolute left-3 top-2 text-gray-500">Php</span>
        </div>
        <span
          class="text-warning-500 text-[10px] font-medium text-red-600 dark:text-red-500"
          [ngStyle]="{
            display: editForm.get('editAmt')!.invalid && submitted ? 'block' : 'none',
          }"
          >Please input a Price between 0 to 99999999.99.</span
        >
      </div>
      <div class="input-group mb-4">
        <h4 class="text-base font-small text-neutral-600">Source</h4>
        <select
          class="block w-60 py-2 rounded-lg border border-gray-300 bg-gray-50 ps-2 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
          formControlName="editSrc"
        >
          <option disabled selected value="">Select source</option>
          <option *ngFor="let category of categoryList; let i = index" [value]="category.categoryID">
            {{ category.categoryName }}
          </option>
        </select>
        <span
          class="text-warning-500 text-[10px] font-medium text-red-600 dark:text-red-500"
          [ngStyle]="{
            display: editForm.get('editSrc')!.invalid && submitted ? 'block' : 'none',
          }"
          >Please select a source.</span
        >
      </div>
      <div class="input-group mb-4">
        <h4 class="text-base font-medium text-neutral-600">Date</h4>
        <mat-form-field
          class="rounded-md w-50% h-50 border border-gray-300 bg-gray-50 px-3 py-2 text-xs dark:border-neutral-600"
        >
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="editDate" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <span
          class="text-warning-500 text-[10px] font-medium text-red-600 dark:text-red-500"
          [ngStyle]="{
            display: editForm.get('editDate')!.invalid && submitted ? 'block' : 'none',
          }"
          >Please enter a date.</span
        >
      </div>

      <hr class="mb-6 mt-2 h-[2px] w-full bg-neutral-300" />
      <button
        class="flex w-50 items-center justify-center gap-3 rounded bg-lime-700 px-6 py-2 hover:bg-lime-600 dark:bg-lime-700 dark:hover:bg-lime-600"
        type="submit"
      >
        <p class="text-base font-medium text-white">Save</p>
      </button>
    </form>
  </app-modal>
</app-main-template>
