<app-main-template>
  <div class="flex w-full justify-between">
    <h1 class="text-2xl font-semibold tex-text">User Logs</h1>
  </div>
  <hr class="h-[1px] w-full bg-neutral-100" />
  <div class="relative mb-5 overflow-x-auto border-2 border-solid bg-white border-neutral-100 shadow-md sm:rounded-lg">
    <table class="w-full text-center text-sm text-neutral-800 rtl:text-right">
      <thead class="text-base text-primary border-b-2">
        <tr>
          <th scope="col" class="px-6 py-3">TIME</th>
          <th scope="col" class="px-6 py-3">USER</th>
          <th scope="col" class="px-6 py-3">ROLE</th>
          <th scope="col" class="px-6 py-3">EVENT TYPE</th>
          <th scope="col" class="px-6 py-3">ACTION</th>
          <th scope="col" class="px-6 py-3">DETAILS</th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <tr class="border-b" *ngFor="let log of logList; let i = index">
          <td class="px-6 py-4">{{ log.formatDate }}</td>
          <td class="px-6 py-4">{{ log.isAdmin ? 'Admin' : 'User' }}</td>
          <td class="px-6 py-4">{{ log.email }}</td>
          <td class="px-6 py-4">{{ log.eventType }}</td>
          <td class="px-6 py-4">{{ log.action }}</td>
          <td class="px-6 py-4 text-balance" [innerHTML]="getFormattedDetails(log.details)"></td>
        </tr>
      </tbody>
    </table>
  </div>
</app-main-template>
