<app-main-template>
  <div class="flex w-full justify-between">
    <h1 class="text-2xl font-semibold tex-text">User Logs</h1>
    <div class="flex gap-2">
      <select
        class="block w-60 py-2 rounded-lg border border-gray-300 bg-gray-50 ps-2 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
      >
        <option value="" disabled selected>Filter by date</option>
        <option value="1">This day</option>
        <option value="2">This week</option>
        <option value="3">This month</option>
      </select>
      <div class="relative">
        <div class="rtl:inset-r-0 pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3">
          <ng-icon name="matFilterAltOutline" size="20px" class="mr-0 text-gray-400"></ng-icon>
        </div>
        <input
          type="search"
          class="block w-60 py-2 rounded-lg border border-gray-300 bg-gray-50 ps-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
          placeholder="Filter by search"
        />
      </div>
    </div>
  </div>
  <hr class="h-[1px] w-full bg-neutral-100" />
  <div class="relative mb-5 overflow-x-auto border-2 border-solid bg-white border-neutral-100 shadow-md sm:rounded-lg">
    <table class="w-full text-center text-sm text-neutral-800 rtl:text-right">
      <thead class="text-base text-primary border-b-2">
        <tr>
          <th scope="col" class="px-6 py-3">TIME</th>
          <th scope="col" class="px-6 py-3">USER</th>
          <th scope="col" class="px-6 py-3">EVENT TYPE</th>
          <th scope="col" class="px-6 py-3">ACTION</th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <tr class="border-b">
          <td class="px-6 py-4">July 14, 2023 11:25PM</td>
          <td class="px-6 py-4">user&#64;gmail.com</td>
          <td class="px-6 py-4">Authentication</td>
          <td class="px-6 py-4">Logged out</td>
        </tr>
        <tr class="border-b">
          <td class="px-6 py-4">July 14, 2023 11:20PM</td>
          <td class="px-6 py-4">user&#64;gmail.com</td>
          <td class="px-6 py-4">Authentication</td>
          <td class="px-6 py-4">Logged In</td>
        </tr>
        <tr class="border-b">
          <td class="px-6 py-4">July 14, 2023 10:20PM</td>
          <td class="px-6 py-4">user&#64;gmail.com</td>
          <td class="px-6 py-4">Expenses</td>
          <td class="px-6 py-4">Updated</td>
        </tr>
        <tr class="border-b">
          <td class="px-6 py-4">July 14, 2023 09:20PM</td>
          <td class="px-6 py-4">user&#64;gmail.com</td>
          <td class="px-6 py-4">Income</td>
          <td class="px-6 py-4">Deleted</td>
        </tr>
        <tr class="border-b">
          <td class="px-6 py-4">July 14, 2023 09:18PM</td>
          <td class="px-6 py-4">user&#64;gmail.com</td>
          <td class="px-6 py-4">Reports</td>
          <td class="px-6 py-4">Downloaded?</td>
        </tr>
        <tr class="border-b">
          <td class="px-6 py-4">July 14, 2023 09:18PM</td>
          <td class="px-6 py-4">user&#64;gmail.com</td>
          <td class="px-6 py-4">Administration</td>
          <td class="px-6 py-4">Modified ekek</td>
        </tr>
      </tbody>
    </table>
  </div>
</app-main-template>
